
    <h4>{{tipologiaSource}}</h4>
 
<div class="example-container mat-elevation-z8" >
  <mat-table #table [dataSource]="dataSourceModel" matSort >
    <ng-container *ngFor="let field of headers;let i=index" matColumnDef="{{field}}">
      <mat-header-cell *matHeaderCellDef>{{field}} </mat-header-cell>
      <mat-cell *matCellDef="let element "> {{element[i] }} </mat-cell>
      <mat-cell *matCellDef="let element "> {{element[i] }} </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="headers"></mat-header-row>
    <mat-row *matRowDef="let row; columns: headers;"></mat-row>
  </mat-table>
  <mat-paginator #paginator [pageSize]="5" [pageSizeOptions]="[5, 10]">
  </mat-paginator>
</div>

