<!-- responsive toolbar -->
<mat-toolbar style="min-height:30px !important" color="primary">
  <!-- solo mobile -->
  <div fxShow="true" fxHide.gt-sm="true">
    <button mat-icon-button (click)="sidenav.open()">
      <mat-icon>more_vert</mat-icon>
    </button>
  </div>
  <!-- fine solo mobile -->
  <span class="logo" (click)="goPresentation()">
    <app-logo [bigOne]="logo.big" [small]="logo.small" [subtitle]="logo.subtitle" [fontSize]="logo.fontSize"></app-logo>
  </span>
  <span class="example-spacer"></span>
  <!-- solo desktop -->
  <span fxShow="true" fxHide.lt-md="true">

    <button mat-button [matMenuTriggerFor]="matSubCreate" >
      <app-miniatura [bigOne]="miniatureArray[0].big" [small]="miniatureArray[0].small"></app-miniatura>
    </button>
    

    <button mat-button [matMenuTriggerFor]="matSubMenuProdotti" >
      <app-miniatura [bigOne]="miniatureArray[1].big" [small]="miniatureArray[1].small"></app-miniatura>
    </button>
    

  </span>

  <!-- fine solo desktop -->
</mat-toolbar>
<mat-sidenav-container>
  <!-- solo mobile -->
  <mat-sidenav #sidenav>
    <div fxLayout="column" class="flexMobileMenu">
      <!-- CREATE -->
      <a mat-menu-item [matMenuTriggerFor]="matSubCreate">
        <app-miniatura [bigOne]="miniatureArray[0].big" [small]="miniatureArray[0].small"></app-miniatura>
      </a>
      <mat-menu #matSubCreate="matMenu">
        <a mat-menu-item (click)="go('CREATE','PRODOTTO','formProdotto');sidenav.close()">
          <app-miniatura [bigOne]="createProdMiniatura.big" [small]="createProdMiniatura.small"></app-miniatura>
        </a>
        <a mat-menu-item (click)="go('CREATE','MAGAZZINO','formMagazzino');sidenav.close()">
          <app-miniatura [bigOne]="createMagMiniatura.big" [small]="createMagMiniatura.small"></app-miniatura>
        </a>
        <a mat-menu-item (click)="go('CREATE','MISURA','formMisura');sidenav.close()">
          <app-miniatura [bigOne]="createQtaMiniatura.big" [small]="createQtaMiniatura.small"></app-miniatura>
        </a>
        <a mat-menu-item (click)="goAddGiacenza();sidenav.close()">
          <app-miniatura [bigOne]="createGiacenzaMiniatura.big" [small]="createGiacenzaMiniatura.small"></app-miniatura>
        </a>
      </mat-menu>
      <!-- READ -->
      <a mat-menu-item [matMenuTriggerFor]="matSubMenuProdotti">
        <app-miniatura [bigOne]="miniatureArray[1].big" [small]="miniatureArray[1].small"></app-miniatura>
      </a>
      <mat-menu #matSubMenuProdotti="matMenu">
        <a mat-menu-item [matMenuTriggerFor]="md">
          <app-miniatura [bigOne]="createProdMiniatura.big" [small]="createProdMiniatura.small"></app-miniatura>
        </a>
        <mat-menu #md="matMenu">
          <a mat-menu-item (click)="go('READ','PRODOTTO','home');sidenav.close()">
            <app-miniatura [bigOne]="slideshowProdMiniature.big" [small]="slideshowProdMiniature.small"></app-miniatura>
          </a>
          <a mat-menu-item (click)="go('READ','PRODOTTO','listaProdotti');sidenav.close()">
            <app-miniatura [bigOne]="listaProdMiniature.big" [small]="listaProdMiniature.small"></app-miniatura>
          </a>
        </mat-menu>
        <a mat-menu-item (click)="go('READ','MAGAZZINO','listaMagazzini');sidenav.close()">
          <app-miniatura [bigOne]="listaMagMiniature.big" [small]="listaMagMiniature.small"></app-miniatura>
        </a>
        <a mat-menu-item (click)="go('READ','MISURA','listaMisure');sidenav.close()">
          <app-miniatura [bigOne]="listaMisureMiniature.big" [small]="listaMisureMiniature.small"></app-miniatura>
        </a>
      </mat-menu>
      
    </div>
  </mat-sidenav>
  <!--fine solo mobile -->
  <mat-sidenav-content>

    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '1px','backdropBackgroundColour':'black' }"></ngx-loading>
   <div class='all'><router-outlet></router-outlet></div> 

    
  </mat-sidenav-content>
</mat-sidenav-container>
