<mat-sidenav-container color="background ">
  <mat-sidenav #sidenav class="example-sidenav">
    <button mat-menu-item color="primary" (click)="goHome();sidenav.close()">Home</button>
    <button mat-menu-item color="primary" [matMenuTriggerFor]="matSubMenuProdotti">
      Prodotti
    </button>
    <mat-menu #matSubMenuProdotti="matMenu">
      <button mat-menu-item color="primary" (click)="inserisciProduct('menu');sidenav.close()">Nuovo Prodotto
      </button>
      <button mat-menu-item color="primary" (click)="getProdottiQta('menu');sidenav.close()">Lista prodotti</button>
    </mat-menu>
    <button mat-menu-item color="primary" (click)="inserisciPersona();sidenav.close()">Nuova persona</button>
    <button mat-menu-item color="primary" (click)="inserisciScarpe();sidenav.close()">Nuova scarpa</button>
    <button mat-menu-item color="primary" (click)="inserisciMisura();sidenav.close()">Nuova misura</button>
    <button mat-menu-item color="primary" (click)="mostraListaChimica();sidenav.close()">Lista chimica</button>
    <button mat-menu-item color="primary" (click)="getMagazzini('menu');sidenav.close()">Lista magazzini</button>
  </mat-sidenav>




  <mat-toolbar color="primary">
    <mat-toolbar-row>
      
        <button mat-icon-button (click)="sidenav.open()">
          <mat-icon>more_vert</mat-icon>
        </button>
       <h1> End fast this shit</h1>
        
    </mat-toolbar-row>
    
       </mat-toolbar>
       
        <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '22px' }"></ngx-loading>
        <router-outlet>
        </router-outlet>
</mat-sidenav-container>
