<mat-card>
  <mat-card-title>Aggiungi {{parametri[0].etichetta}}
  </mat-card-title>
  <mat-card-content>
    <div *ngFor="let parametro of parametri ; let i = index" cols="4">
      <mat-form-field [(ngModel)]="models[i]"[style.display]="parametri[i].isAnInput" class="example-full-width">
        <input matInput  placeholder="{{parametro.etichetta}}{{tipoDiModello}}" value="{{parametro.etichetta}}" type="{{parametro.tipoHtml}}">
      </mat-form-field>
      <image-upload [max]="1" [style]="customStyle" [style.display]="parametri[i].isAnImgFile"></image-upload>
      <mat-form-field [style.display]="parametri[i].isASelect">
        <mat-select placeholder="scegli {{parametri[i].etichetta}}">
          <mat-option  *ngFor="let  elemento of parametri[i].elementiSelect"   [value]="elemento">
            {{ elemento }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field [style.display]="parametri[i].isADate">
        <input matInput [matDatepicker]="picker" placeholder="Choose a date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
    <mat-card-actions style="float: right">
      <button mat-raised-button color="primary">Submit</button>
    </mat-card-actions>
  </mat-card-content>
</mat-card>

