/* You can add global styles to this file, and also import other style files */
@import '~https://fonts.googleapis.com/icon?family=Material+Icons';
@import '~@angular/material/prebuilt-themes/pink-bluegrey.css';
@import url('https://fonts.googleapis.com/css?family=Ewert|Nosifer|Oswald|Pirata+One|Rationale|Shrikhand|Stalinist+One');

html, body, material-app, mat-sidenav-container, .my-content {
  height: 100%; margin: 0; padding: 0; 
  }
  body {
    overflow-y:hidden;
  
}