
<div class='well'>
    <h2>Home</h2>
  </div>
  <div class="col-sm-12">
    <div>
      <div class="col-sm-3">
        <div class="well">
          <h4>Numero magazzini</h4>
          <p>{{numeroMagazzini}}</p>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="well">
          <h4>Numero prodotti</h4>
          <p>{{numeroProdotti}}</p>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="well">
          <h4>Numero misure</h4>
          <p>{{numeroMisure}}</p>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="well">
          <h4>Numero giacenze</h4>
          <p>{{numeroGiacenze}}</p>
        </div>
      </div>
    </div>
    
  </div>
  
