<h3>
  Hello world!</h3>
<p>stuff</p>
<div *ngFor="let sezione of sezioni ; let i = index">
  <mat-toolbar class="contenente">{{sezione.titolo}}
    <span class="example-spacer"></span>
    <button mat-button (click)="openList(i)">
      <mat-icon>details</mat-icon>
    </button>
  </mat-toolbar>
  <div class="contenuto" style="margin-left:5%" *ngFor="let competenza of  sezione.competenze ; let j = index" [@onChangeDetailContent]="display[i]">
    <button mat-button (click)="openDetail(i,j)">
      <div class="contenente">
        <strong>{{competenza.nome}}</strong>
      </div>
    </button>
    <div *ngIf="competenza.nome !== 'Angular5' && competenza.nome !== 'Angular Material' && competenza.nome !== 'Angular Material'"  class="contenutoX" style="margin-right:15%;" [@onChangeDetailContent]="displayNested[i][j]"> {{competenza.descrizione}}</div>
    <div *ngIf="competenza.nome === 'Angular5'" class="contenutoX" style="margin-right:15%;" [@onChangeDetailContent]="displayNested[i][j]"> {{ngM}}</div>
    <div *ngIf="competenza.nome === 'Angular Material'" class="contenutoX" style="margin-right:15%;" [@onChangeDetailContent]="displayNested[i][j]"> {{matM}}</div>
  </div>
</div>
<div>
  <mat-toolbar class="contenente">Other stuff
    <span class="example-spacer"></span>
    <button mat-button (click)="openList(3)">
      <mat-icon>details</mat-icon>
    </button>
  </mat-toolbar>
  <div class="contenuto" [@onChangeDetailContent]="display[3]">
    
          <app-acid-canvas></app-acid-canvas>
        
  </div>
      
<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '1px','backdropBackgroundColour':'black' }"></ngx-loading>
