<div class='container'>
  <h4>Hello world!</h4>
  <p>My stuffs</p>

  <mat-toolbar>Back-end</mat-toolbar>


  <mat-list>
    <mat-list-item>C#</mat-list-item>
    <mat-list-item>MSSQL</mat-list-item>
    <mat-list-item>ORM</mat-list-item>
    <mat-list-item>API's</mat-list-item>
  </mat-list>
  <mat-toolbar>Front-end</mat-toolbar>
  <mat-list>
    <mat-list-item>Angular5</mat-list-item>
    <mat-list-item>Angular material</mat-list-item>
    <mat-list-item>HTML</mat-list-item>
    <mat-list-item>CSS</mat-list-item>
  </mat-list>
  <mat-toolbar>General pourpose</mat-toolbar>
  <mat-list>
    <mat-list-item>OOP</mat-list-item>
    <mat-list-item>Svg - Git</mat-list-item>
    <mat-list-item>Lambda expressions</mat-list-item>
    <mat-list-item>Http</mat-list-item>
    <mat-list-item>JSON</mat-list-item>
    <mat-list-item>Session storage</mat-list-item>
  </mat-list>
</div>
