  @import '~@angular/material/theming';
  @mixin candy-carousel-theme($theme) {
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $warn: map-get($theme, warn);
    .cont {
      color: mat-color($accent);
    }
    .notCancellabile {
      background-color:  red;
      
    }
    .cancellabile {
      background-color:  green;
      
    }
    .cancellabile,.notCancellabile{
      border-radius:30%;
      font-family: monospace;
      color: mat-color($accent);
      min-height: 30px;
      max-height: 30px;
      min-width: 30px;
      max-width: 30px;
      text-align: center;
      float: right;
    }
    .details {
      background-color: mat-color($accent);
      color: mat-color($primary);
      margin-left:7%;
    }
  }

  .container {
    margin-bottom: 20%;
    padding: 0;
  }

  .example-spacer {
    flex: 1 1 auto;
  }

  .details {
    z-index: 9;
    position: relative;
    
    padding: 0;
    overflow-y: auto;
    border: 0;
  }

  .mat-toolbar {
    z-index: 10;
    position: relative;
    min-height: 100px;
    max-height: 100px;
    padding: 0;
    margin: 0;
    border: 0;
  }

  ul,
  li {
    padding: 0;
    margin: 0;
    border: 0;
  }
