<div class="container">
  <h1>
    Misure
  </h1>
  <div *ngFor="let i=index;let record of misure" class="x">
    <mat-toolbar class="mat-toolbar">
      
      <mat-toolbar-row>
          {{misure[i].MisuraIn | uppercase}}
      </mat-toolbar-row>
        <mat-toolbar-row>
            <span *ngIf="record.ProdottiDipendentiList.length  > 0" class="notCancellabile">{{record.ProdottiDipendentiList.length}}</span>
            <span *ngIf="record.ProdottiDipendentiList.length  == 0" class="cancellabile" >{{record.ProdottiDipendentiList.length}}</span>
          <span class="example-spacer"></span>
         
          <button mat-icon-button >
            <mat-icon>create</mat-icon>
          </button>
          <button mat-icon-button *ngIf="record.ProdottiDipendentiList.length  == 0" (click)="deleteMisura(misure[i])">
            <mat-icon>delete</mat-icon>
          </button>
          <button mat-icon-button  (click)="openList(i)" *ngIf="record.ProdottiDipendentiList.length > 0">
            <mat-icon>details</mat-icon>
          </button>
        </mat-toolbar-row>
      

    </mat-toolbar>
    <div class="details"  [@onChangeDetailContent]="display[i]">
    
        <div *ngFor="let prodotto of record.ProdottiDipendentiList;let J=index">
         <button mat-button  >{{prodotto}}</button> </div>
        
    </div>
   
  </div>
</div>
